#!/usr/bin/env python
# -*- coding: utf-8 -*-

server="https://matrix.org"
username="reminder_bot"
password="XXXXXXXX"

data_file="/var/spool/matrix_tomato_reminder_bot/data.json"

log_path="/var/log/matrix/matrix_tomato_reminder_bot.log"

morning="7:00"
obed="12:00"
after_work="17:00"
evening="21:00"

debug=True
