[main]
server = https://rsprim.ru
username = test
password = XXXXXX
# path to store sessin id:
session_stored_file="session.txt"

[storage]
data_file = data.json

[time_pesets]
morning = 7:00
on_work = 8:00
lunch_break = 12:00
after_lunch = 13:00
after_work = 17:00
evening = 21:00

[logging]
log_path = matrix_tomato_reminder_bot.log
debug = yes
# how match keep backup log files:
log_backup_count = 30
# can be:
# 'S' - Seconds
# 'M' - Minutes
# 'H' - Hours
# 'D' - Days
# 'W0'-'W6' - Weekday (0=Monday)
# 'midnight' - Roll over at midnight
log_backup_when = midnight

