version: '3.8'

services:
  matrix_tomato_reminder_bot:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: matrix_tomato_reminder_bot
    restart: unless-stopped
    environment:
      - MATRIX_SERVER=https://matrix.org
      - MATRIX_LOGIN=@your_bot:example.com
      - MATRIX_PASSWORD=
      - MATRIX_TOKEN=your_mas_compatibility_token_here
      - MATRIX_DEVICE_ID=TOMATO_BOT
      - DEBUG_MODE=no
    volumes:
      # Привязка к директориям на хосте вместо Docker volumes
      - /opt/matrix_tomato_reminder_bot/data:/var/spool/matrix_bot
      - /opt/matrix_tomato_reminder_bot/logs:/var/log/matrix_bot

volumes: {}
